

 @media only screen and (max-width:576px){
    .expencetracker-box{
        height: auto;
        width: 75%;
     
    }
    
  }
  
  @media only screen and (min-width:577px){
    .expencetracker-box{
        height: 80%;
        width: 75%;
     
    }
  }
  
  @media only screen and (min-width:768px){
    .expencetracker-box{
      height: auto;
        width: 60%;
     
    }
  }
  
  @media only screen and (min-width:992px){
    .expencetracker-box{
      height: auto;
        width: 40%;
     
    }
  }
  
  @media only screen and (min-width:1200px){
    .expencetracker-box{
      height: auto;
        width: 40%;
     
    }
  
  }
.expencetracker-box{
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}